* {
    margin: 0;
    padding: 0;
}

body {
    color: #919191;
    background-color: #131313;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.row1,
.row1 a {
    color: #c0bab0;
    background-color: #333;

}

#hgroup {
    float: left;

}

#header nav {
    float: right;
}

/* #hgroup_nav {
    display: flex;
    justify-content: space-between;
} */

#header {
    overflow: auto;
    /* width: 960px; */
    /* margin:0 auto; */
    padding: 20px 0;

}

#header,
#container,
#copyright {
    width: 960px;
    margin: 0 auto;
}

/* #headpart{
    display: flex;
    align-items: end;
} */
#header #hgroup {
    /* display: flex; */
    margin: 0 0 20px 0;
    /* flex-direction: column; */
}

a {
    outline: none;
    text-decoration: none;
}

#header #hgroup h1 {
    font-size: 36px
}

#header #hgroup h1,
#header #hgroup h2 {
    font-weight: normal;
    text-transform: none;
}

#header #hgroup h2 {
    font-size: 13px;
}

#header nav {
    /* float: right; */

    margin: 10px 0 0 0;
    padding: 20px 0;
    color: #c0bab0;
    background-color: #232323;
}

#header nav ul {
    padding: 0 20px;
    list-style: none;
}

#header nav ul li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}

#header li.last {
    margin-right: 0;
}

#header nav a {
    color: #c0bab0;
    background-color: #232323;
}

.row2 {
    color: #131313;
    background-color: #FFFFFF;
}

#container {
    padding: 30px 0 0 0;
    overflow: auto
}

#container #homepage #services {
    float: left;
}

#container section {
    margin: 0 0 30px 0;
    /* display: flex; */
}

/* .one_third {
} */

.one_third {
    width: 300px;
    display: block;
    float: left;
    margin: 0 30px 0 0;
}

.one_third.last {
    margin-right: 0;
}

#container #homepage #services article figure img {
    margin: 0 0 15px 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}

#container #homepage #services article figcaption h2 {
    font-size: 14px;
    font-weight: bold;
}

#container #homepage #services article figcaption p {
    line-height: 1.6rem;
}

#container .more {
    text-align: right
}

.row2 a,
.row3 a {
    color: #FF9900;
    background-color: #FFFFFF;
}

.row3 a {
    color: orange;
    background-color: #333
}

/* #services .one_third figcaption p{
    color:#FF9900;
    background-color: #919191;
} */
#container section {
    margin: 0 0 40px 0;
}

#container #homepage #intro img {
    /* display: flex;
    justify-content: space-between; */
    float: right;
}

#container #homepage #intro figure img {
    /* float: right; */
    margin: 0 0 10px 0;
    padding: 4px;
    border: 1px solid #d6d6d6;
}

#container #homepage #intro figcaption h2 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: normal;
    font-style: italic;
    line-height: normal;
}

#container #homepage #intro figcaption p {
    line-height: 1.6em;
}

#footer section h2 {
    line-height: 1.6em;
}

#container #homepage #intro figcaption {
    /* float: left; */
    width: 460px;
}

#container #homepage #intro figcaption .para {
    padding: 10px 0 10px 0;
}

.row3 {
    color: #FFFFFF;
    background-color: #333;

}

#footer {
    /* display: flex;
    justify-content: space-between; */
    width: 960px;
    padding: 30px 0;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.4em;
    overflow: auto;
}

footer section a {
    color: orange;
    background-color: #131313;
}

.one_quarter {
    width: 225px;
    float: left;
    line-height: 1.6em;
    margin: 0 10px 0 0;
}

#footer section nav ul li {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    list-style: none;
    border-bottom: 1px solid #555;
}

#footer section nav li.last {
    margin-right: 0;
}

#footer .one_quarter .title {
    text-transform: uppercase;
    font-size: small;
    margin: 0 0 20px 0;
}

#copyright {
    padding: 20px 0;
    margin-bottom: 15px
}

#copyright p {
    margin: 0;
    padding: 0;
}

#copyright .rgt {
    float: left;
}

#copyright .lft {
    float: right;
}

@media screen and (max-width:425px) {
    #hgroup {
        float: none;
        text-align: center;
    }

    #header nav {
        float: none;
    }

    #header,
    #container {
        width: 100%;
    }

    #header nav ul li {
        display: block;
        text-align: center;
    }

    #header nav ul li {
        /* display: inline; */
        margin-right: 0;
        margin: 5px 0;
        /* text-transform: uppercase; */
    }

    #slider img {
        width: 100%;
    }

    #intro article img {
        width: 100%;
    }
    #container #homepage #services{
        float: none;
    }
    #container #homepage #intro figcaption {
        width: 100%;
    }
    .one_third{
        float: none;
        margin: 0 10px 0 10px;
    }
    .one_third figcaption{
        text-align: center;
    }
}