*{
    margin: 0;
    padding: 0;
}
body{
    display: block;
    color: #919191;
    background-color: #131313;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div.wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    color: #c0bab0;
    background-color: #333;
    text-align: left;
}