*{
    margin: 0;
    padding: 0;
}
div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}
.row1 , .row1 a{
    color: #C0BAB6;
    background-color: #333333;
}
#header{
    padding: 20px 0;
    overflow: auto;
}
#header{
    width: 960px;
    margin: 0 auto;
}
#header #hgroup{
    float: left;
    margin:0 0 20px 0;
}
#header #hgroup h1,#header #hgroup h2{
    font-weight: normal;
    text-transform: none;
}
