/* Global Selector - Selects all Elements in the Documet  */
* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

body {
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #919191;
    background-color: #232323;
}

div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.row1,
.row1 a {
    color: #C0BAB6;
    background-color: #333333;
}

#header {
    padding: 20px 0;
    overflow: auto;
}

#header,
#container {
    width: 960px;
    margin: 0 auto;
}

#header #hgroup {
    /* float: left; */
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}

#header #hgroup h1 {
    font-size: 36px;
}

#header #hgroup h1,
#header #hgroup h2 {
    font-weight: normal;
    text-transform: none;
}

a {
    outline: none;
    text-decoration: none;
}
#hgroup_nav{
    display: flex;
    justify-content: space-between;
}

#header #hgroup h2 {
    font-size: 13px;
}

#header nav {
    /* float: right; */
    margin: 10px 0 0 0;
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
}

#header nav ul {
    padding: 0 20px;
    list-style: none;
}

#header nav ul li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}

#header nav li a {
    color: #C0BAB6;
    background-color: #232323;
}

#header nav .last {
    margin-right: 0;
}

.row2 {
    color: #979797;
    background-color: #FFFFFF;
}

#container {
    padding: 30px 0;
    overflow: auto;
}
#container #homepage{
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

#container #homepage #latest {
    
    margin: 0 0 30px 0;
    
}
#container #homepage #services {
    padding: 0 0 30px 0;
    display: flex;
    border-bottom: 1px solid #DEDEDE;
}

#container #slider {
    margin-bottom: 50px;
}

#container #homepage {
    line-height: 1.6em;
}

#container #homepage #services article figure {
    /* float: left; */
    display: flex;

}

#container #homepage article strong {
    margin: 8px 0 0 8px;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

#container .one_quarter {
    width: 225px;
    float: left;
    /* display: flex; */
    margin: 0 15px 0 0;
}

#container .more {
    text-align: right;
}

a {
    color: orangered;
    background-color: #FFFFFF;
}

#container #homepage #latest ul li {
    list-style: none;
}

.one_third {
    width: 300px;
    float: left;
    margin-right: 30px;
}

.one_third img {
    padding: 4px;
    border: 1px solid #919191;
}
#homepage #latest{
    margin-bottom: 20px;
}
#container #latest .last {
    margin-right: 0;

}

#container #homepage #latest article figure figcaption {
    text-align: right;
}
#content{
    float: left;
    width: 630px;
}
#posts article{
    overflow: auto;
}
#posts .clear{
    margin-bottom: 20px;
    width: 630px;
}
#posts article figure img{
    float: left;
    padding: 5px;
    border: 1px solid #919191;
}
#posts article figure figcaption{
    width: 390px;
    float: left;
    margin-left: 20px;
}
#right_col{
    float: right;
    width: 280px;
}
#right_col .title{
    border-bottom: 1px solid;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}
#right_col ul li{
    padding:5px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid;
}
.row3{
    overflow: auto;
}
.row3 a{
    color:#919191;
    background-color: #131313;
    
}
.wrapper footer{
    padding: 10px 0;
}