*{
    margin: 0;
    padding:0;
}
body{
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #c0bac0;
    background-color: #131313;
}
.wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}
.row1{
    color: #c0bac0;
    background-color: #313131
    
}
#header{
    width: 960px;
    margin: 0 auto;
    padding: 30px 0;
    overflow: auto;
}
#hgroup{
    float: left;
}
#hgroup h2{
    font-size: 36px;
    font-weight: normal;
    text-transform: none;
}
#hgroup p{
    font-size: 13px;
    text-decoration: none;
}
#header form{
    width: 290px;
    float: right;
    margin: 20px 0;
}
#header form fieldset , #header form legend{
    border: none;
}
#header form legend{
    display: none;
}
#header form input{
    width: 200px;
    padding: 5px;
    font-size: 10px;
color: #C0BAB6;
    background-color: #232323;
    border: 1px solid #666666;
}

#header form #sf_submit{
    width: 70px;
    padding: 5ox;
    
}
#header nav{
    width: 100%;
    padding: 20px 0;
    color: white;
    background-color: #232323;
    clear: both;
}

